{# app/Resources/views/contact/contact.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block record %}
                        <p>Formularz kontaktowy:</p>
{%  if messageString %}
                        <p class="{{ messageClass }}">{{ messageString|raw }}</p>
{%  endif %}
                        {{ form_start(form) }}
                            <table class="form">
                                <tr><td class="description">E-mail:</td><td>{{ form_widget(form.email) }}</td></tr>
                                <tr><td class="description">Temat:</td><td>{{ form_widget(form.subject) }}</td></tr>
                                <tr><td class="description">Wiadomość:</td><td>{{ form_widget(form.message) }}</td></tr>
                                <tr><td>&nbsp;</td><td>{{ form_widget(form.save, { 'label': 'Zatwierdź' }) }} {{ form_widget(form.reset, { 'label': 'Wyczyść' }) }}</td></tr>
                            </table>
                        {{ form_end(form) }}
{% endblock %}
